{% extends "base.j2" %}

{% block webfonts %}
<link href='http://fonts.googleapis.com/css?family=Frijole' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Squada+One' rel='stylesheet' type='text/css'>
{% endblock %}

{% block body %}
  <div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div>

    <div class="row">
      <div class="span4 offset2" style="text-align:center">
        <p class="home-hero"><a href="http://twitter.com/drewr">@drewr</a></p>
      </div>
    </div>

  </div>

  <div class="home-footer">
    <div class="wrapper">
      <ul class="nav">
        <li><a href="/about.html">About</a></li>
        <li><a href="/projects.html">Projects</a></li>
        {# <li><a href="/b">Blog</a></li> #}
      </ul>
    </div>
  </div>
{% endblock body %}
